@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #1a1a1a;
  transition: background-color 0.3s ease;
}

.text-red-600 {
  color: #ff5e5e;
}

.text-red-800 {
  color: #cc4c4c;
}
